name: Build
on:
  push:
  pull_request_target:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Sonar env
        run: |
          echo "Repo: $Env:GITHUB_REPOSITORY"
          echo "Owner: $Env:GITHUB_REPOSITORY_OWNER"
          $sonarKey = $Env:GITHUB_REPOSITORY -replace '/', '_'
          $sonarOwner = $Env:GITHUB_REPOSITORY_OWNER.ToLower()
          echo "Sonar-Key: ${sonarKey}"
          echo "Sonar-Owner: ${sonarOwner}"
          echo "SONAR_PROJECT_KEY=${sonarKey}" >> $Env:GITHUB_ENV
          echo "SONAR_OWNER=${sonarOwner}" >> $Env:GITHUB_ENV
      - name: Test sonarkey
        run: |
          echo "Sonar-key: $Env:SONAR_PROJECT_KEY"
          echo "Sonar-Owner: $Env:SONAR_OWNER"
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v1
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"$Env:SONAR_PROJECT_KEY" /o:"$Env:SONAR_OWNER" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.xunit.reportsPaths=./test/**/TestResults/TestResults.xml /d:sonar.cs.opencover.reportsPaths=./test/**/TestResults/coverage*.lcov /d:sonar.test.inclusions=./test/**/** /d:sonar.qualitygate.wait=true
          dotnet test --logger:xunit /p:CollectCoverage=true /p:CoverletOutput=./TestResults/coverage.lcov /p:CoverletOutputFormat=opencover
          $testResultCode = $?
          echo "TestResultCode: ${testResultCode}"
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
          if( -not ${testResultCode}) {
            echo "There are test failures!"
            exit 1
          }
